AWS_ACCESS_KEY_ID=replace-me
AWS_SECRET_ACCESS_KEY=replace-me
AWS_DEFAULT_REGION=ru-1
S3_ENDPOINT_URL=https://s3.twcstorage.ru
S3_BUCKET=rproject-ng
S3_PREFIX=raw/

CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_PORT=9000
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=change-me
CLICKHOUSE_DATABASE=default

LOG_LEVEL=INFO
ANALYSIS_WINDOW_MINUTES=5
TZ=UTC

UI_PORT=3838
COMPOSE_PROJECT_NAME=rproject-ng
